$template-white:    #fff !default;
$template-snow-50:  #FCFAF7 !default;
$template-gray-100: #E3E1DE !default;
$template-gray-200: #CAC8C6 !default;
$template-gray-300: #B0AFAD !default;
$template-gray-400: #979694 !default;
$template-gray-500: #7E7D7C !default;
$template-gray-600: #656463 !default;
$template-gray-700: #4C4B4A !default;
$template-gray-800: #323231 !default;
$template-gray-900: #191919 !default;
$template-black:    #000 !default;
// scss-docs-end blue-color-variables
$template-blue-50:  #E6EEF1 !default;
$template-blue-100: #DBEDF5 !default;
$template-blue-200: #b3ccd4 !default;
$template-blue-300: #99bbc6 !default;
$template-blue-400: #80abb8 !default;
$template-blue-500: #669aaa !default;
$template-blue-600: #4d899c !default;
$template-blue-700: #33788d !default;
$template-blue-800: #19677f !default;
$template-blue-900: #005671 !default;
// scss-docs-end green-color-variables
$template-green-50:  #E9EEED !default;
$template-green-100: #D3DCDA !default;
$template-green-200: #BDCBC8 !default;
$template-green-300: #A7BAB5 !default;
$template-green-400: #91A9A3 !default;
$template-green-500: #7B9791 !default;
$template-green-600: #65867E !default;
$template-green-700: #4F756C !default;
$template-green-800: #396359 !default;
$template-green-900: #235247 !default;
// scss-docs-end purple-color-variables
$template-purple-50:  #f3e8ed !default;
$template-purple-100: #E7D0DB !default;
$template-purple-200: #DBB9C9 !default;
$template-purple-300: #CFA1B7 !default;
$template-purple-400: #C48AA6 !default;
$template-purple-500: #B87394 !default;
$template-purple-600: #AC5B82 !default;
$template-purple-700: #A04470 !default;
$template-purple-800: #942C5E !default;
$template-purple-900: #88154C !default;